</div> <!-- end body wrapper -->
<div class="footer">
    <div class="footer-row">
        <div class="footer-contact small">
            <img src="./picts/CoGe_logo_small.png"/>
            <span>Questions, problems, suggestions?
            <a href="mailto:<TMPL_VAR NAME=SUPPORT_EMAIL>?subject=CoGe <TMPL_VAR NAME=PAGE_TITLE>&body=Link%20to%20page:%20%20<TMPL_VAR NAME=PAGE_LINK>">Contact us</a>
            or
            <a href="http://ask.iplantcollaborative.org/questions/scope:all/sort:activity-desc/tags:CoGe/" target="_blank">Ask CyVerse</a></span>
        </div>
        <div class="footer-logos">
            <a target="_blank" href="https://btiscience.org/">
                <img style="width:150px;height:50px;" src="./picts/BTILogo.png"/>
            </a>
            <a target="_blank" href="https://btiscience.org/andrew-nelson/">
                <img style="width:150px;height:34px;" src="./picts/NelsonLabLogo.svg"/>
            </a>
            <a target="_blank" href="http://genomevolution.org/wiki/">
                <img src="./picts/CoGePedia_icon.png"/>
            </a>
            <a target="_blank" href="http://www.youtube.com/user/CoGeVids" class="small footer-vids">
                <img src="./picts/YouTube-icon-full_color.png" style="width:27px;height:19px;"/><br>CoGe Vids
            </a>
            <a target="_blank" href="http://www.cyverse.org">
                <img src="./picts/PoweredbyCyverse_LogoSquare_0_0.png" style="height:35px;"/>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
	function login_cas() {
	    var location = document.location.href;
	    location = location.replace(/&?ticket=([^&]$|[^&]*)/i, ""); // remove existing ticket param -- mdb added 9/7/16 COGE-724
		var redirect_url = '<TMPL_VAR NAME=CAS_URL>' + '/login?service=' + location; // mdb added 3/25/15 for cas update
		document.location.href = redirect_url; 
		return true;
	}

    $(document).ready(function(){
        if ("<TMPL_VAR NAME=USER>".match(/public/i)) { return; }
        else { $('#logout').show(); }
    });
</script>
<!--<TMPL_VAR NAME=DATE> -->
</BODY>
</HTML>
